* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: #545454;
  display: flex;
}
.navbar .logo {
  width: 10%;
}
.navbar .logo .imagem-logo {
  width: 100%;
  transform: translate(0, -45px);
}
.navbar .logo button {
  height: 10vh;
  background-color: transparent;
  border-color: transparent;
}
.navbar nav {
  width: 50%;
  transform: translate(160px);
  padding-top: 3vh;
}
.navbar nav a.link {
  font-size: 20px;
  padding-left: 40px;
  transform: translate(0, 20px);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
}
.navbar nav .link:hover {
  text-decoration: underline;
  transition: 0.3s;
}
.navbar nav .seletor {
  width: 16%;
  height: 4vh;
  border-radius: 7px;
  border-style: solid;
  transform: translate(40px);
}
.navbar nav .seletor:hover {
  background-color: #545454;
  color: white;
  border-color: white;
}
.navbar .conteudo {
  width: 100%;
  height: 100vh;
  background-color: #a8a39d;
}
.navbar .nome-tl {
  transform: translate(270px, 0);
  width: 18%;
  height: 10vh;
  background-color: transparent;
}
.navbar .nome-tl .icone-vendas {
  width: 50%;
  transform: translate(0, -20px);
}
.navbar .nome-tl .local-title {
  transform: translate(120px, -100px);
}

.main-conteudo {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #a8a39d;
  display: inline-flex;
}
.main-conteudo .pesquisa {
  width: 40%;
  height: 7vh;
  background-color: transparent;
  transform: translate(100px, 100px);
}
.main-conteudo .pesquisa input[type=text] {
  width: 77%;
  height: 4vh;
  border-radius: 10px;
  border-style: solid;
  border-color: gray;
  font-size: 20px;
  padding-left: 20px;
}
.main-conteudo .pesquisa input[type=text]:hover {
  background-color: #cccccc;
  transition: 0.5s;
}
.main-conteudo .pesquisa .bt-pesquisa {
  width: 18%;
  height: 5vh;
  border-radius: 10px;
  border-style: solid;
  border-color: gray;
  font-size: 20px;
  transform: translate(0, 7px);
}
.main-conteudo .pesquisa .bt-pesquisa .lupa-pesquisa {
  width: 25%;
  padding-top: 3px;
}
.main-conteudo .pesquisa .bt-pesquisa:hover {
  background-color: #cccccc;
  transition: 0.5s;
  box-shadow: 0px 0px 10px whitesmoke;
}
.main-conteudo .pesquisa .bt-pesquisa:hover .lupa-pesquisa {
  width: 25%;
  padding-top: 3px;
  color: white;
}
.main-conteudo .new-button {
  width: 10%;
  height: 5vh;
  background-color: transparent;
  transform: translate(670px, 115px);
}
.main-conteudo .new-button .botao-novo {
  width: 100%;
  height: 5vh;
  border-radius: 10px;
  border-style: solid;
  border-color: gray;
  font-size: 20px;
}
.main-conteudo .new-button .botao-novo a {
  text-decoration: none;
  color: black;
}
.main-conteudo .new-button .botao-novo:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 10px whitesmoke;
  background-color: #cccccc;
}
.main-conteudo .new-button .botao-novo:hover a {
  color: black;
}
.main-conteudo .div-tabela {
  width: 87%;
  height: 60vh;
  background-color: transparent;
  margin: 14% -43.5%;
  max-height: 60vh;
  overflow-y: scroll;
  border-radius: 15px;
}
.main-conteudo .div-tabela table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.main-conteudo .div-tabela th,
.main-conteudo .div-tabela td {
  text-align: center;
  padding: 10px;
}
.main-conteudo .div-tabela th {
  background-color: white;
  position: sticky;
  top: 0px;
}
.main-conteudo .div-tabela td {
  background-color: whitesmoke;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transform: translate(500px, 150px);
}

@media screen and (max-width: 1440px) {
  .navbar {
    width: 100%;
    height: 10vh;
    background-color: #545454;
    display: flex;
  }
  .navbar .nome-tl {
    transform: translate(270px, 0);
    width: 18%;
    height: 10vh;
    background-color: transparent;
  }
  .navbar .nome-tl .icone-vendas {
    width: 50%;
    transform: translate(0, -15px);
  }
  .navbar .nome-tl .local-title {
    transform: translate(120px, -90px);
  }
  .navbar .logo {
    width: 10%;
  }
  .navbar .logo .imagem-logo {
    width: 100%;
    transform: translate(0, -35px);
  }
  .navbar .logo button {
    height: 10vh;
    background-color: transparent;
    border-color: transparent;
  }
  h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(450px, 150px);
  }
  .main-conteudo .new-button {
    width: 10%;
    height: 5vh;
    background-color: transparent;
    transform: translate(625px, 115px);
  }
}
@media screen and (max-width: 1360px) {
  .navbar nav {
    width: 55%;
    transform: translate(90px);
    padding-top: 3vh;
  }
  .navbar nav .seletor:hover {
    background-color: #545454;
    color: white;
    border-color: white;
  }
  .navbar .nome-tl {
    transform: translate(150px, -5px);
    width: 18%;
    height: 10vh;
    background-color: transparent;
  }
  .new-button .botao-novo {
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    font-size: 20px;
    transform: translate(-80px, 0);
  }
  .main-conteudo .pesquisa {
    width: 43%;
    height: 7vh;
    background-color: transparent;
    transform: translate(80px, 100px);
  }
  .main-conteudo .div-tabela {
    transform: translate(-50px, 0);
  }
}/*# sourceMappingURL=vendas.css.map */