//container
$disp: inline-flex;
$widthContainer: 100%;
$boxSiz: border-box;
//width das div
$divDireita: 100%;
//height das div
$heigthDiv: 750px;

// cores
$corSalmaoClaro: #EBE1C5;
$CarameloEscuro: #f4d092;

//label login
$margin: 60%;
$marginSub: 500px;

//1920px
$Sub1920: 590px;
$LabelLeft1920: 46%;