@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

@import 'variaveis';

*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.container{
    width: $widthContainer;
    display: $disp;
    box-sizing: $boxSiz;
}
div{
    .div-direita{
        width: $divDireita;
        background-color: $corSalmaoClaro;
        height: $heigthDiv;
        transform: translate(0, -20px);
        position: fixed;
    }

    }
    h1{
        font-size: 42px;
        transform: translate(750px, 75px);
        font-family: 'Outfit', Arial;
    }

    hr{
        width: 70%;
        margin-left: 17%;
        margin-top: 7%;
        color: black;
        border-style: double;
    }

    h2{
        transform: translate(710px, 150px);
        
    }

    h3{
        transform: translate(760px, 195px);
        font-size: 22px;
    }

    h4{
        transform: translate(708px, 200px);
        font-size: 16px;
    }

@media screen and (max-width: 1680px){
    .container{
        width: $widthContainer;
        display: $disp;
        box-sizing: $boxSiz;
    }
    div{
        .div-direita{
            width: $divDireita;
            background-color: $corSalmaoClaro;
            height: $heigthDiv;
            transform: translate(0, -20px);
            position: fixed;
        }
    
        h1{
            font-size: 42px;
            transform: translate(745px, 75px);
            font-family: 'Outfit', Arial;
        }
    
        hr{
            width: 70%;
            margin-left: 17%;
            margin-top: 7%;
            color: black;
            border-style: double;
        }
    
        h2{
            transform: translate(705px, 150px);
            
        }
    
        h3{
            transform: translate(750px, 195px);
            font-size: 22px;
        }
    
        h4{
            transform: translate(700px, 200px);
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 1440px){
    .container{
        width: $widthContainer;
        display: $disp;
        box-sizing: $boxSiz;
    }
    div{
        .div-direita{
            width: $divDireita;
            background-color: $corSalmaoClaro;
            height: $heigthDiv;
            transform: translate(0, -20px);
            position: fixed;
        }
    
        h1{
            font-size: 42px;
            transform: translate(690px, 75px);
            font-family: 'Outfit', Arial;
        }
    
        hr{
            width: 70%;
            margin-left: 17%;
            margin-top: 7%;
            color: black;
            border-style: double;
        }
    
        h2{
            transform: translate(650px, 150px);
            
        }
    
        h3{
            transform: translate(700px, 195px);
            font-size: 22px;
        }
    
        h4{
            transform: translate(645px, 200px);
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 1360px){
    .container{
        width: $widthContainer;
        display: $disp;
        box-sizing: $boxSiz;
    }
    div{
        .div-direita{
            width: $divDireita;
            background-color: $corSalmaoClaro;
            height: $heigthDiv;
            transform: translate(0, -20px);
            position: fixed;
        }
    
        h1{
            font-size: 42px;
            transform: translate(650px, 75px);
            font-family: 'Outfit', Arial;
        }
    
        hr{
            width: 70%;
            margin-left: 17%;
            margin-top: 7%;
            color: black;
            border-style: double;
        }
    
        h2{
            transform: translate(612px, 150px);
            
        }
    
        h3{
            transform: translate(665px, 195px);
            font-size: 22px;
        }
    
        h4{
            transform: translate(615px, 200px);
            font-size: 16px;
        }
    }
}